@using Bagery.Business.Features.Products.Queries.GetProductList
@model List<GetProductListQueryResult>

<section class="shop-section" style="background-image: url('https://res.cloudinary.com/dgvrf9qqf/image/upload/v1769805353/shop-1_k4y3x0.jpg');">
    <div class="auto-container">
        <div class="sec-title">
            <p>Maðazamýz</p>
            <h2>Birbirinden Lezzetli <br />Ürünlerimiz.</h2>
        </div>
        <div class="four-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">

            @foreach (var item in Model)
            {
                var coverImage = item.ProductImages?.FirstOrDefault()?.ImageUrl ?? "/Bagery/assets/images/resource/shop/shop-1.jpg";

                <div class="shop-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="@coverImage" alt="@item.Name" style="width: 100%; height: 300px; object-fit: cover;">
                        </figure>
                        <div class="lower-content">
                            <span class="price-box">$@item.Price</span>

                            <h3><a href="/Shop/Index">@item.Name</a></h3>

                            <ul class="rating clearfix">
                                <li><i class="icon-Star"></i></li>
                                <li><i class="icon-Star"></i></li>
                                <li><i class="icon-Star"></i></li>
                                <li><i class="icon-Star"></i></li>
                                <li><i class="icon-Star"></i></li>
                            </ul>

                            <div class="cart-btn">
                                <a href="/Shop/Index" class="theme-btn-two">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>