@* _UILayoutNavbarComponentPartial *@

<!-- main header -->
<header class="main-header style-one">

    <!-- header-lower -->
    <div class="header-lower">
        <div class="outer-box">
            <div class="logo-box">
                <figure class="logo"><a href="index.html"><img src="~/Bagery/assets/images/logo.png" alt=""></a></figure>
            </div>
            <div class="menu-area">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler">
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                </div>
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li><a href="index.html">Anasayfa</a></li>
                            <li><a href="/Shop/Index/">Maðaza</a></li>
                            <li><a href="/Shop/ShopBasket/">Sepetim</a></li>
                            <li><a href="/Auth/LogIn/">Giriþ Yap</a></li>
                            <li><a href="/Auth/RegisterUser/">Kayýt Ol</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="menu-right-content clearfix">
                <li class="search-box-outer">
                    <div class="dropdown">
                        <button class="search-box-btn" style="background-image: url(/Bagery/assets/images/icons/icon-bg-1.png);" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-Search"></i></button>
                        <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
                            <div class="form-container">
                                <form method="post" action="blog.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                        <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="user-btn">
                    <a href="index.html" style="background-image: url(/Bagery/assets/images/icons/icon-bg-1.png);">
                        <i class="icon-Profile"></i>
                    </a>
                </li>
                <li class="cart-btn">
                    <a href="shop-1.html" style="background-image: url(/Bagery/assets/images/icons/icon-bg-1.png);">
                        <i class="icon-Bag"></i>
                        <span>3</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="outer-box">
            <div class="logo-box">
                <figure class="logo"><a href="index.html"><img src="~/Bagery/assets/images/small-logo.png" alt=""></a></figure>
            </div>
            <div class="menu-area">
                <nav class="main-menu clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav>
            </div>
            <ul class="menu-right-content clearfix">
                <li class="search-box-outer">
                    <div class="dropdown">
                        <button class="search-box-btn" style="background-image: url(/Bagery/assets/images/icons/icon-bg-1.png);" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-Search"></i></button>
                        <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
                            <div class="form-container">
                                <form method="post" action="blog.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                        <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="user-btn">
                    <a href="index.html" style="background-image: url(/Bagery/assets/images/icons/icon-bg-1.png);">
                        <i class="icon-Profile"></i>
                    </a>
                </li>
                <li class="cart-btn">
                    <a href="shop-1.html" style="background-image: url(/Bagery/assets/images/icons/icon-bg-1.png);">
                        <i class="icon-Bag"></i>
                        <span>3</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- main-header end -->