@* _DefaultTestimonialComponentPartial *@

<section class="testimonial-section sec-pad" style="background-image: url(/Bagery/assets/images/background/testimonial-1.jpg);">
    <figure class="image-layer wow slideInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="https://res.cloudinary.com/dgvrf9qqf/image/upload/v1769805390/testimonial-1_z5onnf.png" alt=""></figure>
    <div class="auto-container">
        <div class="inner-box">
            <div class="sec-title">
                <p>Müþteri Yorumlarý</p>
                <h2>Bagery Hakkýnda Ne Dediler?</h2>
            </div>
            <div class="single-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                <div class="testimonial-block-one">
                    <div class="icon-box" style="background-image: url(/Bagery/assets/images/icons/icon-bg-5.png);">
                        <i class="icon-Quote"></i>
                    </div>
                    <div class="text">
                        <p>Ürünlerin tazeliði ve lezzeti gerçekten harika. Her sabah taze çýkan simit ve poðaçalarýn kokusuyla güne baþlamak gibisi yok. Kesinlikle tavsiye ederim.</p>
                    </div>
                    <div class="author-info">
                        <h4>Funda Özdemir</h4>
                        <span class="designation">Yazýlým Geliþtirici</span>
                    </div>
                </div>
                <div class="testimonial-block-one">
                    <div class="icon-box" style="background-image: url(/Bagery/assets/images/icons/icon-bg-5.png);">
                        <i class="icon-Quote"></i>
                    </div>
                    <div class="text">
                        <p>Hizmet kalitesi ve güler yüzlü çalýþanlarýyla Bagery benim favori mekaným haline geldi. Pastalarý hem görsel olarak þýk hem de inanýlmaz lezzetli.</p>
                    </div>
                    <div class="author-info">
                        <h4>Funda Özdemir</h4>
                        <span class="designation">Yazýlým Geliþtirici</span>
                    </div>
                </div>
                <div class="testimonial-block-one">
                    <div class="icon-box" style="background-image: url(/Bagery/assets/images/icons/icon-bg-5.png);">
                        <i class="icon-Quote"></i>
                    </div>
                    <div class="text">
                        <p>Özel günlerimizde tercih ettiðimiz tek yer. Hem hýzlý teslimat yapýyorlar hem de ürünler tam istediðimiz gibi taze geliyor. Emeklerinize saðlýk.</p>
                    </div>
                    <div class="author-info">
                        <h4>Funda Özdemir</h4>
                        <span class="designation">Yazýlým Geliþtirici</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>